# Ignore everything
*

# But descend into directories
!*/

# Recursively allow files under subtree

# Specific Files
!/.gitignore
!/.editorconfig
!/aider.ignore
!/w0.dockerfile
!/w0.sh
!/w0.setup.sh
!/start.sh
!/template.w0.config.yaml
!/template.w0.docker-compose.yaml
!/template.w0.vscode.settings.json
!/README.md
!/LICENSE

# Ignore specific folders
/worktrees/**

# Ignore specific files
*.env

# Re-Add Even More Specific FIles
!/template.w0.env