# Ignore everything
*

# But descend into directories
!*/

# Recursively allow files under subtree
!/base/**
!/templates/**

# Specific Files
!/.gitignore
!/.editorconfig
!/aider.ignore
!/w0.dockerfile
!/w0.sh
!/w0.setup.sh
!/start.sh
!/README.md
!/LICENSE

# Ignore specific folders
/worktrees/**

# Ignore specific files
*.env

# Re-Add Even More Specific FIles
!/templates/w0.env